<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set     -->
<!-- the browser's rendering engine into           -->
<!-- "Quirks Mode". Replacing this declaration     -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.   -->

<html ng-app="twitt">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
			integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
			crossorigin="anonymous">
		<script
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="script.js"></script>
		<title>Tiny Twitt</title>
	</head>
	
	<body ng-controller="TController" style="background-color:#3a547c">
		<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#3d536d">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<h1 style="display: inline-block">Tiny Twitt</h1>
				<img alt="logo" src="tinytwitt_logo.png">
			</div>
		</div>
		</nav>
		<div class="container" >
			<div class="row">
				<div class="col-md-3" >
	
					<form novalidate ng-submit="connection(login)" style="border: 1px blue solid">
						<div class="form-group">
							<label for="user">Utilisateur:</label>
							<input type="text" placeholder=Utilisateur class="form-control" ng-model="login">
						</div>
						<button type="submit" class="btn btn-default">C'est moi</button>
					</form>
					
					<form novalidate ng-submit="inscription()" style="border: 1px blue solid">
						<div class="form-group">
							<label>Utilisateur: <input type="text" placeholder=Utilisateur class="form-control" ng-model="userlogin"></label>
							<label>Mail: <input type="text" placeholder="Mail" class="form-control" ng-model="usermail"></label>
							<label>Mdp: <input type="password" placeholder="Mot de passe" class="form-control" ng-model="usermdp"></label>
							<label>Prenom: <input type="text" placeholder="Prenom" class="form-control" ng-model="userprenom"></label>
							<label>Nom: <input type="text" placeholder="Nom" class="form-control" ng-model="usernom"></label>
						</div>
						<button type="submit" class="btn btn-default">Je veux en etre</button>
					</form>
					
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						<form class="form-inline">
							<label class="sr-only" for="inlineFormInputTwitt">Name</label> <input
								type="text" class="form-control col-md-10 mb-2 mr-sm-2 mb-sm-0"
								id="inlineFormInputTwitt" placeholder="Ecrire ici" ng-model="smessage">
							<button type="submit" ng-click="postTwitt(smessage)" class="btn btn-primary">Twittey</button>
						</form>
					</div>
					<div class="col-md-12">
						<form ng-submit="listeTwitt()">
							<button type="submit" class="btn btn-primary">nouveau
								twitt ?</button>
						</form>
					</div>
					<div class="col-md-12" style="border: 1px blue solid" ng-repeat="x in twitt">
						<p>{{x.author}} à écrit : </p>
						<p>{{x.message}}</p>
					</div>
				</div>
				<div class="col-md-3">
					<form ng-submit="addFollow(author-follow)" style="border: 1px blue solid">
						<div class="form-group">
							<label for="author-follow">Suivre:</label> <input type="text"
								class="form-control" id="author-follow">
						</div>
						<button type="submit" class="btn btn-default">Suivre</button>
					</form>
				</div>
			</div>
		</div>
		<!-- <table>
	      <tr>
	        <td colspan="2" style="font-weight:bold;">Available Servlets:</td>        
	      </tr>
	      <tr>
	        <td><a href="tiniy_twitt">Tiniy_Twitt</a></td>
	      </tr>
	    </table> -->
		<script>
			var init = function() {
				console.log("init called");
				window.init();
			};
		</script>
	
		<script src="https://apis.google.com/js/client.js?onload=init"></script>
	
	</body>
</html>
